<!doctype html>
<html>
<head>
<title>Employee Manager</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-resource.js"></script>
<script src="js/employee-controller.js"></script>
</head>
<body ng-app="employeemanager.controller"
	data-ng-controller="EmployeeController">
	<div>
		<p>
			Id : <input type="text" ng-model="employee.id">
		</p>
		<input type="button" value="Load by Id" data-ng-click="find()" />	
	</div>
	<div>
		<p>
			First Name : <input type="text" ng-model="employee.firstName">
		</p>
		<p>
			Surname : <input type="text" ng-model="employee.surname">
		</p>
		<p>
			Salary : <input type="number" ng-model="employee.salary">
		</p>
		<p>
			Hire Date : <input type="datetime-local" ng-model="employee.hireDate">
		</p>
			<input type="button" value="Save" data-ng-click="save()" />
			<input type="button" value="Update" data-ng-click="update()" />
			<input type="button" value="Delete" data-ng-click="remove(employee)" />
			<input type="button" value="Search Employees" data-ng-click="search()" />
	</div>
	<div>	
		<table>
			<thead>
				<th>First Name</th>
				<th>Surname</th>
				<th>Salary</th>
				<th>Hire Date</th>
			</thead>
			<tr data-ng-repeat="e in employees">
				<td>{{ e.firstName }}</td>
				<td>{{ e.surname }}</td>
				<td>{{ e.salary }}</td>
				<td>{{ e.hireDate }}</td>
			</tr>
		</table>
	</div>
</body>
</html>